/* Nền full màn hình */
.register-background {
  background-color: #ba872a;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form nằm giữa + nền mờ */
.register-form {
  width: 360px;
  padding: 25px 30px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-form h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

/* Input */
.register-form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

/* Button */
.register-form button {
  margin-top: 5px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ffcc00;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.register-form button:hover {
  background: #ffdb4d;
}
